.screen-shifter {
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: center;

  &__centerer {
    position: relative;
    width: 100%;
    max-width: 400px;
  }

  &__child-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    overflow-y: auto;

    transition: all 0.3s ease-in-out;

    pointer-events: none;
    opacity: 0;

    &--active {
      pointer-events: auto;
      opacity: 1;
    }
  }
}
